<div class="flex one">
    <h2 class="flex center">Functions</h2>
    <table>
    {% for node in config.nodes %}
        {% if node.functions is defined %}
        <thead>
            <th colspan="2">{{node.name}}</th>
        </thead>
        <tbody>
            {% for fun in node.functions %}
            <tr>
                <td>
                    <label for="modal_1"class="flex grow pseudo button"
                        hx-get="/modalFunctionForm/{{node.name}}/{{fun.name}}" hx-trigger="click"
                        hx-target="#modal_1_popup">{{fun.declaration}}</label>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    {% endfor %}
    </table>
</div>