{{ param.plot_script|safe }}
<div class="modal PlotModal" id="modal_1_popup">
  <input id="modal_1" type="checkbox" checked/>
  <label for="modal_1" class="overlay"
    hx-get="/closeModal" hx-trigger="click" hx-target="#modal_1_popup" hx-swap="outerHTML"></label>
  <div class="flex one grow PlotModal">
      <div>
          {{ param.plot_div|indent(4)|safe }}
      </div>
    <div>
      <a href="/showPlot/{{param.plot_target}}" class="button" style="float: left;">
        Open Fullscreen
      </a>
      <button for="modal_1" class="button dangerous" style="float: right;margin-right: 0.5%;"
        hx-get="/closeModal" hx-trigger="click" hx-target="#modal_1_popup" hx-swap="outerHTML">Close</button>
    </div>
  </div>
</div>